{% extends 'index-32.html' %}
{% block diy %}
 <style>
    .content-body .container-fluid, .content-body .container-sm, .content-body .container-md, .content-body .container-lg, .content-body .container-xl{
        padding-top: 15px;
        padding-right: 0px;
        padding-left: 30%;

}
    .card-title .card-header{
        left: 0;
    }
  .form-group {
            margin-bottom: 3rem;
        }
        .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl, .col-xxl-auto{
            position: relative;
            width: 100%;
            padding-right: 30px;
            padding-left: 15px
        }


    </style>
   <div class="content-body"  style="width: 900px;"  >
            <!-- row 控制位置-->
            <div class="container-fluid" style="height: 600px;"  >
				<div class="row" >
					<div class="col-lg-12" >
						<div class="row tab-content">
							<div id="list-view" class="tab-pane fade active show col-lg-12"   >
								<div class="card" style="width: 100%;padding-left: 3%;padding-right: 3%  ">
									<div class="card-header" style="padding-left: 0px" >
										<h1 class="card-title">修改密码

                                        </h1>
									</div>

								 	<div class="card-body" >
                                        <div class="row">
                                        <div class="form-group" style="width: 100%; height: 25px">
{#                                            <p style="color: red;font-size: large">*选择校区</p>#}
                                                <label for="old_pw" >旧密码</label>
                                                 <input type="password" id="old_pw" class="form-control" >
                                        </div>
                                        <div class="form-group" style="width: 100%;height: 25px">
{#                                            <p style="color: red;font-size: large">*选择校区</p>#}
                                                <label for="new_pw" >新密码</label>
                                                 <input type="password" id="new_pw" class="form-control" placeholder="新密码长度至少六位">
                                        </div>
                                            <div class="form-group" style="width: 100%;height: 25px">
                                                {#                                            <p style="color: red;font-size: large">*选择校区</p>#}
                                                <label for="ver_pw">确认密码</label>
                                                <input type="password" id="ver_pw" class="form-control">
                                            </div>

                                            <div class="form-group" style="width:50%;height: 5px"  align="center" >
                                                <a href="index.html">
                                                  <button  class="btn btn-rounded btn-outline-primary" style="padding-left:30px;padding-right: 30px"id="id_alterparasubmit">取消</button>
                                                </a>
                                            </div>
                                            <div class="form-group" style="width:50%;height: 5px" align="center" onclick="alter_pw(this)">
                                                <button   class="btn btn-rounded btn-outline-primary"  style="padding-left:30px;padding-right: 30px"id="id_alterparasubmit">提交</button>
                                            </div>
									</div>
                                </div>
                            </div>

						</div>
					</div>
				</div>

            </div>
        </div>
   </div>
    <script>


    function alter_pw(obj)
     {
         var old_pw=$("#old_pw").val();
         var new_pw=$("#new_pw").val();
         var ver_pw=$("#ver_pw").val();
         $("#ver_pw").addClass('inputbox change');
         {#$("#old_pw").attr("placeholder", "原密码不能为空");#}
         if (old_pw =="") {
             alert('密码为空')
          }
        if (new_pw != ver_pw ) {
            alert('输入新密码不一致')
         } else if (new_pw.length<5) {
             alert('密码至少六位')
         }else {
              $.ajax({
                    url: 'AlterPassword.html',
                    type: 'post',
                    data: {
                        'old_pw': $("#old_pw").val(),
                        'new_pw': $("#new_pw").val(),
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        {#'csrfmiddlewaretoken': $("[name='csrfmiddlewaretoken']").val(),#}
                    },
                    success: function (data) {
                        if (data.status == 100) {
                            alert(data.msg)


                            location.href = 'login.html'
                            {#location.href = 'index.html'#}
                        } else {
                            alert(data.msg)
                            $(".error").text(data.msg)
                            setTimeout(function () {
                                $(".error").text("")
                            }, 3000)
                        }
                    }
                })
        }

    }
    </script>


{% endblock %}