
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>上海大学统一身份认证</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/ico.jpg">
    <link href="/static/css/notice-28395e85c3.css" rel="stylesheet" type="text/css">
    <link href="/static/css/login-25dc166bc2.css" rel="stylesheet" type="text/css">
    <link href="/static/css/alert-a1b99b3681.css" rel="stylesheet" type="text/css">
</head>
<style type="text/css">
    .top {
    position: absolute;
    width: 100%;
    height: 125px;
    background: 0;
}
.top_mo {
    width: 100%;
    height: 100%;
}

    .top {
    width: 100%;
    height: 95px;
    background: url(/static/bootstrap/images/headerbg.jpg) repeat-x;
}
    .block {
    min-width: 0;
}
.block {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

</style>
<body>

    <div class="top">
        <div class="top_mo">
            <div class="block">
                <div class="this_home" onclick="window.location.href = '/'"></div>
                <img src="/static/bootstrap/images/logo-white.png" title="前往首页/Go to the home page" style="cursor:pointer" alt="" onclick="window.location.href = '/'">
                <select class="select" id="select_language">
                    <option value="中文">中文</option>
                    <option value="English">English</option>
                </select>
            </div>
        </div>
    </div>
</body>
<script src="/static/js/jquery-3.5-dc5e7f18c8.1.min.js"></script>
<script src="/static/js/jsencrypt-6a752a4cf8.min.js"></script>
<script src="/static/js/bluebird-5f381fc63d.min.js"></script>
<script src="/static/js/notice-26c90791a6.js"></script>
<script src="/static/js/i18next-7ce8022cca.js"></script>
<script src="/static/js/language-cc15f3b2fe.js"></script>
<script src="/static/js/login-2a80121036.js?v=1.0"></script>
<script src="/static/js/main-819afdf6d4.js?v=1.0"></script>

</body>

</html>